body, html {
	background: url("Kuvat/background-kuva.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	font-family: 'Roboto', serif;
	font-size: 24px;
}
p {
	padding: 0;
	margin 0;
}
#Eng{
	position: relative;
	float: right;
	background-color: white;
	border: 2px solid green;
	margin-left: 0.5%;
	z-index: 1;
}
#Eng:hover{
	-webkit-transition-duration: 0.4s;
	background-color: #00c600;
}

#Fin{
	position: relative;
	float: right;
	background-color: white;
	border: 2px solid green;
	margin-right: 0.5%;
	z-index: 1;
}
#Fin:hover{
	-webkit-transition-duration: 0.4s;
	background-color: #00c600;
}

#header{
	background-image: url("Kuvat/programmingImage.jpg");
	background-size: cover;
	z-index: 0
}
#header p {
	position: relative;
	font-size: 5vw;
	color: rgb(219, 245, 244);
	text-align: center;
	text-shadow: 2px 3px 1px gray;
}
@media only screen and (max-width: 600px){
	#header p {
		position: relative;
		font-size: 24px;
		color: rgb(219, 245, 244);
		text-align: center;
		text-shadow: 2px 3px 1px gray;
	}
}
@media only screen and (max-width: 600px){
body {
	font-family: 'Roboto', serif;
	font-size: 16px;
}
}

.section {
	background-color: #F0F3F4;
	padding: 0.5vw;
	margin-bottom: 0.5vw;
	margin-right: 7vw;
	margin-left: 7vw;
	border-radius: 20px;
	border-bottom: 0.125em solid black;
}
@media only screen and (max-width: 600px){
	.section {
		background-color: #F0F3F4;
		padding: 6vw;
		margin-bottom: 0.5vw;
		margin-right: 1vw;
		margin-left: 1vw;
		border-radius: 20px;
		border-bottom: 0.125em solid black;
	}
}
.section0 {
	background-color: #F0F3F4;
	padding: 0.5vw;
	border-radius: 20px;
	border-bottom: 0.125em solid black;
	margin-bottom: 0.5vw;
	margin-right: 7vw;
	margin-left: 7vw;
	z-index: 0;
	position: relative;
	left: 1400px;
	animation-name: animation0;
	animation-delay: 1.2s;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes animation0 {
100% {left: 0px;}
}
@media only screen and (max-width: 600px){
	.section0 {
		background-color: #F0F3F4;
		padding: 6vw;
		margin-bottom: 0.5vw;
		margin-right: 1vw;
		margin-left: 1vw;
		border-radius: 20px;
		border-bottom: 0.125em solid black;
	}
}
.section1 {
	background-color: #F0F3F4;
	padding: 0.5vw;
	border-radius: 20px;
	border-bottom: 0.125em solid black;
	margin-bottom: 0.5vw;
	margin-right: 7vw;
	margin-left: 7vw;
	position: relative;
	right: 1400px;
	animation-name: animation1;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes animation1 {
100% {right: 0px;}
}
@media only screen and (max-width: 600px){
	.section1 {
		background-color: #F0F3F4;
		padding: 6vw;
		margin-bottom: 0.5vw;
		margin-right: 1vw;
		margin-left: 1vw;
		border-radius: 20px;
		border-bottom: 0.125em solid black;
	}
}
.section2 {
	background-color: #F0F3F4;
	padding: 0.5vw;
	border-radius: 20px;
	border-bottom: 0.125em solid black;
	margin-bottom: 0.5vw;
	margin-right: 7vw;
	margin-left: 7vw;
	position: relative;
	left: 1400px;
	animation-name: animation2;
	animation-delay: 3s;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes animation2 {
100% {left: 0px;}
}
@media only screen and (max-width: 600px){
	.section2 {
		background-color: #F0F3F4;
		padding: 6vw;
		margin-bottom: 0.5vw;
		margin-right: 1vw;
		margin-left: 1vw;
		border-radius: 20px;
		border-bottom: 0.125em solid black;
	}
}
.circle-img {
	float: left;
	width: 14vw;
	height: 14vw;
	border: 2px solid white;
	margin-right: -200px;
	margin-top: 1vw;
	border-radius: 50%;
}
@media only screen and (max-width: 600px){
	.circle-img {
		float: left;
		width:60px;
		height:60px;
		border: 2px solid white;
		margin-right: -200px;
		margin-top: 1vw;
		border-radius: 50%;
	}
}
h1{
	font-size: 2.5vw;
	text-align: center;
	color: #05386B;
}
@media only screen and (max-width: 600px){
h1{
	margin-top: -3px;
	font-size: 18px;
	text-align: center;
	color: #05386B;
}
}
h1 span{
	padding: 10px;
	text-shadow: 4px, 3px, 0px, #fff, 9px, 8px, 0px, rgba(0, 0, 0, 0, 15);
}
@media only screen and (max-width: 600px){
	h1 span{
	border: 4px dotted #24bd87;
	padding: 10px;
	text-shadow: 4px, 3px, 0px, #fff, 9px, 8px, 0px, rgba(0, 0, 0, 0, 15);
	display: block;
}
}
a{
	text-decoration: none;
}
.quote{
	font-size: 1em;
	text-align: right;
	margin-top: 50px;
}

li{
	margin-bottom: 40px;
	font-weight: bold;
}
#myProgress{
	width: 70%;
	background-color: grey;
	border-radius: 10px;
}
#myProgressbar1{
	width: 50%;
	height: 30px;
	background-color: #ff3333;
	text-align: center;
	border-radius: 10px;
}
#myProgressbar2{
	width: 40%;
	height: 30px;
	background-color: #ff3333;
	text-align: center;
	border-radius: 10px;
}
progress{
-webkit-appearance: none;
-moz-appearance: none;
width: 70%;
height: 30px;
text-align: center;
}
progress::-webkit-progress-bar{
	background-color: gray;
}
progress::-webkit-progress-value {
 	background-color: red;
}
progress::-moz-progress-bar{
	background-color: red;
}

progress:after {
  content: attr(value)'%';
}
#programming1{
	list-style-image: url("Kuvat/html.png");
	list-style-position: inside;
	border-radius: 20px;

}
@media only screen and (max-width: 600px){
#programming1{
	list-style-image: url("Kuvat/html2.png");
	list-style-position: inside;

}
}
#programming2 {
	list-style-image: url("Kuvat/css.png");
	list-style-position: inside;
}
@media only screen and (max-width: 600px){
#programming2 {
	list-style-image: url("Kuvat/css2.png");
	list-style-position: inside;
}
}
#programming3 {
	list-style-image: url("Kuvat/js.png");
	list-style-position: inside;
}
@media only screen and (max-width: 600px){
#programming3 {
	list-style-image: url("Kuvat/js2.png");
	list-style-position: inside;
}
}
#programming4 {
	list-style-image: url("Kuvat/java.png");
	list-style-position: inside;
}
@media only screen and (max-width: 600px){
#programming4 {
	list-style-image: url("Kuvat/java2.png");
	list-style-position: inside;
}
}
#programming5 {
	list-style-image: url("Kuvat/sql.png");
	list-style-position: inside;
}
@media only screen and (max-width: 600px){
#programming5 {
	list-style-image: url("Kuvat/sql2.png");
	list-style-position: inside;
}
}
#programming6 {
	list-style-image: url("Kuvat/php.png");
	list-style-position: inside;
}
@media only screen and (max-width: 600px){
#programming6 {
	list-style-image: url("Kuvat/php2.png");
	list-style-position: inside;
}
}
#liekeis{
	text-align: center;
	object-fit: contain;
	margin: auto;
}
@media only screen and (min-width: 600px){
#programmingCSS{
	align: middle;
	margin: auto;
}
}
#lausahdus{
	text-align: center;
}
@media only screen and (max-width: 600px){
#lausahdus{
	text-align: center;
}
}
.copyright{
	font-size: 0.60em;
	margin-top: 30px;
	text-align: right;
}
.Peli{
	background-color: #F0F3F4;
	padding: 0.5vw;
	margin-bottom: 0.5vw;
	margin-right: 7vw;
	margin-left: 7vw;
	border-radius: 20px;
	border-bottom: 0.125em solid black;
	text-align: center;
}
@media only screen and (max-width: 750px){
.Peli{
	display: none;
}
}
#kehys{
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid green;
}
